/*body,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}*/
html, body, h1, h2,h3,h4,h5,h6 { font-family: "Roboto","Helvetica","Arial",sans-serif; }

/* Header */
.large-header {
	position: relative;
	width: 100%;
	background: #222;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
}

#large-header {
	background-image: url('https://ak9.picdn.net/shutterstock/videos/23478469/thumb/1.jpg');	
}

.main-title {
	position: absolute;
	margin: 0;
	padding: 0;
	color: #f9f1e9;
	text-align: center;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
	text-transform: uppercase;
	font-size: 3em;
	letter-spacing: 0.1em;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary:active:focus, .btn-primary:active:hover, .btn-primary[disabled]:hover {
    color: #fff;
    border-color: #fff;
	background-color: black;
}

.invalid-productName, .invalid-cost {
	color: red;
}

.main-title .thin {
	font-weight: 200;
}

 
@media only screen and (max-width : 768px) {
	.main-title {
		font-size: 2.5em;
	}
}

@media only screen and (max-width : 480px) {
	 .main-title {
		font-size: 2em;
	}
}